<!doctype html>
<html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea Naomy Calderón</title>

    <!--//CAMBIAR LINK DE SU UBICACIÓN DEL ARCHIVO CSS PARA VER CORRECTAMENTE LOS ESTILOS.-->

    <link href="C:\Users\carti\Downloads\demo (2) (2)\demo\src\main\resources\static\style.css" rel="stylesheet" type="text/css" />
    <style>
        
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: aqua;
        }


    </style>
</head>
<body>
    <!-- Encabezado principal -->
    <h1>Mi Tarea Naomy</h1>

    <!-- Div con un encabezado h2 y un párrafo -->
    <div class="mi-div">
        <h2>Mis notas</h2>
        <p>Espero que en esta tarea me balla bien </p>
    </div>
</body>
</html>